$dark-color:#000;
$light-color:#fff;
$primary-color:#29b2e6;
$secondary-color:#ffdb2f;
$p-color:#33354d;
$purple-light:#6c6d84;
$purple-dark:#1f213b;
$grey-400:#efefef;
$grey-500:#d9d9d9;
$grey-800:#666666;
$disabled-color:#6D7885;

// Media

$desktop: 1200px;
$laptop: 991px;
$tablet: 768px;
$mobile: 480px;
$mobile-landscape: 850px;
$mobile-sm: 360px;
$mobile-sm-landscape: 650px;


