.container{
    max-width: 1218px;
    margin: 0 auto;
    padding:0 20px;
    display: grid;
    grid-template-columns: repeat(1fr,12);

}

.flex-row{
    display: flex;
    align-items: center;
    height: 90px;
}