$icon__path:"../img/icons/";
$image__path:"../img/";
$yellow:yellow;
$black:black;
@mixin main-font {
    font-family: 'Montserrat', sans-serif;
}

@mixin underline-effect ($color) {
    &:after{
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $color;
        content: '';
        transition: width 0.3s ease-out;
    }

    &:hover:after,
    &:focus:after{
        width: 100%;
    }
}

@mixin center-center {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

@mixin d-flex {
    display: flex;
    align-items: center;
}